body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(226, 226, 226) !important;
}


.container {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #4a7577 !important;
  margin-bottom: 200px !important;
  padding: 40px !important;
}

.container:hover {
  box-shadow: 1px 1px 60px 0px #28a745 !important;
}

.App {
  text-align: center;
}

.about {
  margin-top: 40px;
}

#info-top {
	position: absolute;
	top: 1.5em;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#info-bottom{
  position: absolute;
	bottom: 4em;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.intro-top {
  color: rgb(212, 212, 212);
  font-size: 2.45em;
  font-family: 'Roboto', sans-serif;
  animation: text 3s 1;
}

.intro-bottom {
  color:#4a7577;
  font-size: 2.45em;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  animation: text2 3s 1;
}

.canvas {
  min-width: 100%;
}

.name{
  color: #4a7577;
  font-weight: 900;
  font-size: 1em;
  animation: text 3s 1;
}

.view-more {
  color: #4a7577 !important;
  border-color: #4a7577 !important;
  animation: view-more-animation 1s 1;
  animation-delay: 3s;
  transform: translateY(-120px);
  width: 200px;
}

#about {
  height: auto;
  width: 100%;
  background-color: rgb(226, 226, 226);
  overflow: auto;
}


.about-header {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 10px;
}

#nav{
  background-color: #4a7577;
  z-index: 100;
}

.sticky {
  position: sticky !important;
  top: 0 !important;
  width: 100%;
}

.about-header-container {
  background-color: #383b3e;
  height: 100px;
  width: 220px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  color: white;
  display: none;
}

.aboutme-animation{
  display: block;
  animation: about-me-animation 1s 1;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mr-auto {
  justify-content: space-evenly !important; 
  width: 46% !important; 
  font-size: 24px !important; 
  font-family: 'Poppins', sans-serif !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #28a745 !important;
  font-size: 26px;
  transition: ease-in 0.2s;
}

.nav-header {
  font-size: 30px !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
  margin-right: 0 !important;
}

.about-content-container {
  display: flex;
  margin: 0 auto; 
  margin-top: 40px; 
  width: 100%; 
  height: 100%; 
  box-shadow: 1px 1px 10px 0px #20232A; 
  padding: 20px;
}

.my-pic{
  width: 50%; 
  height: 100%; 
  margin-right: 10%;
}

.my-content {
  width: 50%; 
  height: auto;
}

.mern {
  width: 50%;
  margin-right: 10%;
  height: 100%;
}

.skills {
  width: 50%;
  height: 100%;
}

.skills-header {
  font-family: 'Poppins', 'sans serif';
  font-size: 26px;
  letter-spacing: 1px;
}

.mern-header {
  font-family: 'Poppins', 'sans serif';
  font-size: 26px;
  letter-spacing: 1px;
}

.mern-ul {
  font-size: 42px;
  font-family: 'Poppins', 'sans serif';
}

.skills-ul {
  font-family: 'Poppins', 'sans serif';
  font-size: 21px;
}

.about-scroll {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.about-arrow-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#projects {
  height: auto;
}

.projects-header-container {
  background-color: #383b3e;
  height: 100px;
  width: 220px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  color: white;
  display: none;
}

.projects-header {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 10px;
}

#carousel {
  top: 40px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 0px #20232A;
  background-color: #383b3e;
}

.carousel-image {
  margin: 0 auto;
  max-height: 400px;
  width: auto;  
}

.projects-scroll {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}

.carousel-caption {
  color: black !important;
  font-family: 'Poppins';
  font-weight: 600;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2328a745' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2328a745' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

#contact {
  height: 102vh;
}

.contact-header-container {
  background-color: #383b3e;
  height: 100px;
  width: 220px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  color: white;
  display: none;
}

.contact-header {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 10px;
}

.contact-form {
  box-shadow: 1px 1px 10px 0px #20232A;
  padding: 20px;
  margin-top: 40px;
}

.projects-animation{ 
  display: block;
  animation: projects-animation 1s 1;
}

.contact-animation {
  display: block;
  animation: contact-animation 1s 1;
}


.carousel-control-next-icon {
  width: 40px !important;
  height: 40px !important;
}

.carousel-control-prev-icon {
  width: 40px !important;
  height: 40px !important;
}

.message-status {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
}

.projects-contact-link {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
}

.projects-connect-link {
  color: #28a745;
}

.projects-connect-link:hover {
  cursor: pointer;
  text-decoration: none !important;
  color: #28a745 !important;
}


.message-status-animation {
  display: block;
  animation: message-status 2s 1;
}

.footer {
  width: 100%;
  height: 180px;
  background-color: #4a7577;
  text-align: center;
  margin-top: 200px;
  border-color: #28a745;
  border-style: solid;
  border-width: .2px;
  box-shadow: 1px 1px 20px 0px #20232A;
}

.find-me {
  display: flex !important;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif !important;
  font-size: 30px !important;
  margin-top: 20px;
  background-color: rgb(226, 226, 226) !important;
  color: #4a7577 !important;
  border-color: #4a7577 !important;
  margin-bottom: 20px;
}

.find-me:hover {
  background-color: #383b3e !important;
}

.social-container {
  display: flex;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 30px;
}

.social-link {
  font-size: 100px;
  box-shadow: 1px 1px 150px 0px #20232A; 
  border-radius: 10px;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.social-link:hover {
  cursor: pointer;
  box-shadow: 1px 1px 150px 0px #28a745;
}

.far {
  padding: 4px;
  font-size: 32px;
  color: #4a7577;
  opacity: 80%;
}

.far:hover {
  cursor: pointer;
}

.op {
  color:rgb(180, 177, 177) !important;
}

@keyframes message-status {
  0%{
    transform: translate(-200%, -50%)
  }
  50%{
    transform: translate(-50%, -50%)
  } 
  100% {
    transform: translate(200%, -50%)
  }
}

@keyframes text {
  0%{
    color: black;
  }
  30%{
    color: black;
  }
  70%{
    letter-spacing: 2px;
  }
}

@keyframes text2 {
  0%{
    color: black;
    transform: translateX(-100%);
  }
  90%{
    opacity: 0;
    color: black;
  }
}

@keyframes view-more-animation {
  50%{
    transform: translateY(-130px);
    background-color: #28a745;
  }
}

@keyframes about-me-animation {
  0%{
    transform: translateX(-200%)
  }
  50%{
    transform: translateX(0);
  }
}

@keyframes projects-animation {
  0%{
    transform: translateX(-200%)
  }
  50%{
    transform: translateX(0);
  }
}

@keyframes contact-animation {
  0%{
    transform: translateX(-200%)
  }
  50%{
    transform: translateX(0);
  }
}


@media screen and (max-width: 991px) and (min-width: 501px ){
  .about-content-container {
    display: block;
  }
  .my-pic {
    margin: 0 auto;
  }
  .my-content {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  .carousel-image {
    max-width: 500px;
  }
  .message-status {
    font-size: 50px;
  }
  .footer {
    margin-top: 200px;
  }
  .social-link {
    font-size: 90px;
  }
  .mern-header {
    text-align: center;
    font-weight: bold;
  }
  .mern {
    width: 100%;
    margin-bottom: 40px;
  }
  .skills {
    width: 100%;
  }
  .skills-header {
    text-align: center;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px){
  .carousel-image {
    max-width: 350px;
  }
  .about-content-container {
    display: block;
  }
  .my-pic {
    margin: 0 auto;
  }
  .my-content {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  #carousel {
    margin-top: 40px;
    padding: 20px;
  }
  .message-status {
    font-size: 28px;
  }
  .social-link {
    font-size: 80px;
  }
  .social-container {
    padding-top: 30px;
  }
  .mern-header {
    text-align: center;
    font-weight: bold;
  }
  .mern {
    width: 100%;
    margin-bottom: 40px;
  }
  .skills {
    width: 100%;
  }
  .skills-header {
    text-align: center;
    font-weight: bold;
  }
  .mern-ul {
    font-size: 33px;
  }
  .container {
    margin-bottom: 60px !important;
  }
}