.App {
  text-align: center;
}

#info-top {
	position: absolute;
	top: 1.5em;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.intro-top {
  color: rgb(212, 212, 212);
  font-size: 2.45em;
  font-family: 'Roboto', sans-serif;
}

.intro-bottom {
  color:#4a7577;
  font-size: 2.45em;
  font-family: 'Fraunces', serif;
  font-weight: bolder;
}

.name{
  color: #4b8285;
  font-weight: 900;
  font-size: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
